<?xml version="1.0" ?>
<robot name="astranav" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!-- Load Simulated or Real Hardware Interfaces -->
    <xacro:arg name="is_sim" default="true"/>

    <xacro:include filename="$(find astranav_description)/urdf/astranav_base.xacro" />
    <xacro:include filename="$(find astranav_description)/urdf/astranav_sensors.xacro"/>
    <xacro:include filename="$(find astranav_description)/urdf/astranav_gazebo.xacro"/>
    <xacro:include filename="$(find astranav_description)/urdf/astranav_ros2control.xacro"/>
    
</robot>